/* Styles the side/top options menu */

p{
    color: white;
}

.hueSelection, .menu {
    position: relative;
    z-index: 2; 
}

/* button styling */

.menu {
    width: 25vw;
    max-width: 300px;
    font-size: 1.5em;
    border: none;  
    border-radius: 8px;  
    color: black; 
    text-align: center;
    cursor: pointer;  
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
    background-color: rgba(0, 0, 0, 0.5);

}

.menu:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);  /* Stronger shadow when hovered */
    background-color: rgba(0, 0, 0, 0.7);
}

.menu:active {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Shadow returns to normal */
}

.menu:focus {
    outline: none;  /* Remove default outline */
    box-shadow: 0 0 0 3px rgba(50, 205, 50, 0.5);  /* Green focus ring */
}

/* menu section styling */

.hueSelection{
    float: left;
    transition: all 1.5s ease;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.9); 
    display: none;
    border-radius: 8px;
    cursor: default;
    padding-bottom: 10%;
}

.hueSelection > * {
    width: 100%;  /* Set children to take up 100% width of the parent */
    display: block;  /* Make sure child elements are block-level elements */
}

.menu p{
    margin: 0px;
    padding: 12px 20px;  
}

.container{ 
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transition: opacity 1s linear;
    opacity: 0;
}

.container p{
    color: black;
    font-size: 0.8em;
    padding-left: 8px;
    padding-bottom: 8px;
    width: max-content;
}

/* Color select boxes */
.colorContainer {
    display: flex;
}

.colorThemeSelect{
    min-width: 60%;
}

.colorThemeSelect input{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    max-width: 12em;
    border: none;
}

.singleColorSelect{
    max-width: min-content;
}

.singleColorSelect input{
    min-width: 4em;
    min-height: 4em;
    border: none;
    margin-left: 12px;
}

/* These classes are used by the lwc to control the transition of the side menu */
.preClosed{
    width: 0%;
}

.closed{
    display: none;
    width:0%;
}

.preOpen{
    display: block; 
    width:0%;
}

.open {
    display: block; 
    width:100%
}

/* End of transition classes */

@media (max-width: 767px) {
   .hueSelection{
    height: fit-content;
   }
   .menu {
    width: 95%;
    max-width: none;
   }

   .hueSelection, .menu{
    position: absolute;
    z-index: 3; 
   }
   /* These classes are used by the lwc to control the transition of the side menu */
   .preClosed{
        height: 0vh;
        width: 100%;
    }

    .closed{
        height:0vh;
        width: 100%;
    }

    .preOpen{
        height:0vh;
        width: 100%;
    }

    .open {
        height:50vh;
    }

    /* End of transition classes */

  }
  