p{
    color: white;
}

.hueSelection, .menu {
    position: relative;
    z-index: 2; 
}

.menu {
    width: fit-content;
    font-size: 1.5em;
    border: none;  
    border-radius: 8px;  
    color: black; 
    text-align: center;
    cursor: pointer;  
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
    background-color: rgba(0, 0, 0, 0.5);

}

.menu:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);  /* Stronger shadow when hovered */
    background-color: rgba(0, 0, 0, 0.7);
}

.menu:active {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Shadow returns to normal */
}

.menu:focus {
    outline: none;  /* Remove default outline */
    box-shadow: 0 0 0 3px rgba(50, 205, 50, 0.5);  /* Green focus ring */
}


.hueSelection{
    float: left;
    transition: all 0.3s ease;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.9); 
    display: none;
    height: 90vh;
    border-radius: 8px;
}

.hueSelection > * {
    width: 100%;  /* Set children to take up 100% width of the parent */
    display: block;  /* Make sure child elements are block-level elements */
}

.menu p{
    margin: 0px;
    padding: 12px 20px;  
}

.container{ 
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.container p{
    color: black;
    font-size: 0.8em;
    width: min-content;
    margin: auto;
    padding-bottom: 5px;
}
.colorPreview {
    width: 100%;
    height: 100px;
    border-radius: 50%;
    margin: 10px auto;
    border: 2px solid #000;
    max-width: 100px;
}

/* These classes are used by the lwc to control the transition of the side menu */
.preClosed{
    display: none;
    width: 0%;
}

.closed{
    width:0%;
}

.preOpen{
    display: block; 
    width:0%;
}

.open {
    display: block; 
    width:100%
}

input[type="color"]{
    width: 5em; 
    height: 5em;
}

/* End of transition classes */

@media (max-width: 767px) {
   .hueSelection{
    height: fit-content;
   }
   .menu {
    width: 90%;
   }

   .hueSelection, .menu{
    position: absolute;
    z-index: 3; 
   }
   /* These classes are used by the lwc to control the transition of the side menu */
   .preClosed{
        height: 0%;
        width: 100%;
    }

    .closed{
        height:0%;
        width: 100%;
    }

    .preOpen{
        height:0%;
        width: 100%;
    }

    .open {
        height:300%
    }

    /* End of transition classes */

  }
  